<%= form_for @note, :html => {:multipart => true, :class => "note" } do |f| %>
  <div style="clear: both;">
    <%= couchdb_rev_field f, @note %>
    <div class="label">
      <%= f.label :title, t(:title), { :class => :note_title } %>
      <%= f.text_field :title, { :title => "заглавие", :class => "blur", :autocomplete => :off } %>
    </div>
    <div class="label">
      <%= f.label :description, t(:description),  { :class => :note_description }%>
      <%= f.text_area :description, { :autocomplete => :off } %>
    </div>
  </div>
  <div id="note_button_bar_container">
    <div id="note_button_bar" style="display: none">
      <%= f.submit "Запис", { :class=>"button" } %>
      <%= submit_tag("Отказ", { :name => 'reset', :id => 'note_reset_button', :type => "reset", :class => "button" } ) %>
    </div>
  </div>
  <div>
    <%# sanitize(textilize @note.description) %>
    <%# f.label "ключови думи (отделени с място)" %>
    <%# f.text_field "tags", :value => @note.tags.join(" "), :size => 60 %>

    <%# f.label "Visited On" %>
    <%# f.text_field "visited_on", :id => "date" %>

    <%# f.text_field "updated_at" %>
    <%# f.text_field "updated_at", :value => f_date(@note.updated_at) %>
    <%# f.label "Файл" %>
    <%# file_field_tag("note[attachments][]") %>  
  </div>
<% end %>
