<h1 id="title"><%= @note.title %></h1>

<small>Автор <%= @note.author %></small>
<br/>
<small>Редактиран <%= @note.updated_at.to_s(:rfc822) %> от <%= @note.updated_from %></small>

<p><%= @note.description %></p>

<h2>!!!! Изтриване на файл !!!!</h2>
<p>
Файлът <%= @filename %> ще бъде изтрит!!!
<br/>
Сигурни ли сте ?
</p>

<%= link_to "Изтриване", delete_file_note_path(:filename => @filename, :method => :delete ) %> 
<%= button_to('Изтриване', { :action => "delete_file", :id => @note.id, :filename => @filename },
          :confirm => 'Are you sure?', :method => "delete", :remote => true, :disable_with => 'loading...') %>
<%= link_to "Отказ", note_path(:id => @note)%>
