<h1><%= t "Content" %></h1>
  <div class="empty_line"></div>
<% @notes.each_with_index do |note, idx| %>
  <%= link_to(note_path(note)) do %>
    <div class="content_line">
        <%= idx+1 %>.
        <div class="title"> <%= note.title %></div> 
        <% if note.finance_total > 0 %>
          <div class="amount"><%= f_price note.finance_total %></div>
        <% end %>
        <p><%= truncate note.description, :length => 250,  :separator => ' ' %></p>
        <div class="created_at">създаден преди <span><%= time_ago_in_words note.created_at %></span> от <%= note.author %></div>
    </div>
  <% end %>
  <div class="empty_line"></div>
<% end %>
