<div class="form">
<%= render :partial => "form" %>
</div>
<!--
<% unless @note.finance.empty? %>
    <%= render :partial => 'finance', :collection => @note.finance %>
<% end %>
-->

<div id="finance">
  <%= form_for @note do |f| %>
    <%= couchdb_rev_field f, @note %>
    <div id="add_finance" width="100%" style="display:n0ne">
        <div class="label">
        <%= label :finance, :date, t(:Date),  { :class => :finance_date }%>
        <%= unobtrusive_date_text_picker :finance, :date, { :value => Time.now, :divider => '.', :format => 'd-m-y'}, { :size => 10, :value => f_date(Time.now)  }  %>
        </div>
        <div class="label">
        <%= label :finance, :amount, t(:amount),  { :class => :finance_amount }%>
        <%= text_field :finance, :amount, { :size => 5 } %>
        </div>
        <div class="label">
        <%= label :finance, :comment,  t(:comment),  { :class => :finance_comment }%>
        <%= text_field :finance, :comment %>
        </div>
        <%# collection_select :finance, :type, { 1 => "Приход", 2 => "Разход"}, :first, :last %>
        <%= f.submit "Запис" %>
    </div>
  <% end %>
</div>
<div class="empty_line"></div>

<div class="add_bar" style="clear: both">
  <ul>
    <li><%= link_to "+ Добави приход/разход", {}, :id => "finance_switch" %></li>
    <li><%= link_to "+ Добави файл", {}, :id => "upload_file_switch" %></li>
  </ul>
</div>

<% unless @note.attachments.empty? %>
  <ul>
    <% @note.attachments.each do |attachment_name, attachment_attributes| %>
      <li>
        <div class="attachment">
            <%= link_to_filename @note, attachment_name %>
            <%= number_to_human_size(attachment_attributes['length']) %>
            <%= link_to "Изтрий", delete_file_note_path(:id => @note, :filename => attachment_name), :method => :delete, :confirm => "Are You sure ?" %> 
        </div>
      </li>
    <% end %>
  </ul>
  <div class="empty_line"></div>
<% end %>
<div id="upload_file_div"> </div>
<div id="upl0ad_file_div" style="display:n0ne">
  <%= form_for @note, :html => {:multipart => true} do |f| %>
    <%= file_field_tag("note[attachments][]") %>  
    <%= text_field_tag("note[attachment_comment]") %>
    <%= f.submit t("Add"), {:id => 'submit_attachment'} %>
  <% end %>
</div>
