<h1 id="title"><%= @note.title %></h1>

<small>Автор <%= @note.author %></small>
<br/>
<small>Редактиран <%= @note.updated_at.to_s(:rfc822) %> от <%= @note.updated_from %></small>

<p><%= @note.description %></p>

<strong><em>Финансова информация</em></strong>
<br/>

<% unless @note.finance.empty? %>
  <table>
    <tr>
      <th>Дата</th>
      <th>Тип</th>
      <th>Сума</th>
    </tr>
    <%= render :partial => 'finance', :collection => @note.finance %>
  </table>
<% end %>

<div id="add_finance" style="display:none">
  <%= form_for @note do |f| %>
    <%= couchdb_rev_field f, @note %>
    <label for="finance_amount"><%= t 'amount' %></label>
    <%= text_field        :finance, :amount %>
    <%= text_field        :finance, :date, :size => 8 %>
    <%# collection_select :finance, :type, { 1 => "Приход", 2 => "Разход"}, :first, :last %>
    <%= f.submit "Запис" %>
  <% end %>
</div>
<%= link_to "+ Добави приход/разход", {}, :id => "add_finance_switch" %>

<br/>
<br/>
<strong><em>Прикачени файлове</em></strong>
<br/>

<% unless @note.attachments.empty? %>
<ul>
  <% @note.attachments.each do |attachment_name, attachment_attributes| %>
    <li>
      <%= link_to attachment_name, note_path(:id => @note, :filename => attachment_name) %> 
      <%= number_to_human_size(attachment_attributes['length']) %>
      <%= link_to "Изтрий", confirm_delete_file_note_path(:id => @note, :filename => attachment_name), :method => :delete, :confirm => "Are You sure ?" %> 
    </li>
  <% end %>
</ul>
<% end %>

<div id="upload_file_div" style="display:none">
  <%= form_for @note, :html => {:multipart => true} do |f| %>
    <br/>
    <%= file_field_tag("note[attachments][]") %>  
    <br/>
    <%= f.submit "Запис" %>
  <% end %>
</div>
<%= link_to "+ Добави файл", {}, :id => "upload_file_switch" %>

<br/>
<br/>
<br/>

<small><em>Тагове: </em><%= render :partial => 'by_tag', :collection => @note.tags %></small>
<p><%= link_to "Edit", edit_note_path(@note)%></p>
