<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>g0No: <%= controller.action_name %></title>
  <%= stylesheet_link_tag :all %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application", "rails" %>
  
  <%# javascript_include_tag :defaults, "lowpro", "date_selector" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <p style="color: green"><%= flash[:notice] %></p>

  <div class="container">
    <%= yield  %>  

    <ul id="menu">
      <li><%= link_to_unless_current "Бележки", notes_path %></li>
      <li><%# link_to_unless_current "Tags", tags_path %></li>
      <li><%= link_to_unless_current "+ Добави нова", new_note_path %></li>
    </ul>
  </div>
</body>
</html>


<!-- <head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Notes: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'application' %>
  <%# javascript_include_tag :defaults, "lowpro", "date_selector", :cache => true %>
</head>
<body>


</body>
</html> -->
